.header{
height: 40px;
font-family: Poppins;
font-size: 14px;
font-weight: 200;
line-height: 21px;
text-align: center;
justify-content: center;
align-content: center;
background-color:  #2AA7FF;
color:white;
}
@media (max-height: 600px) {
    .header {
      background-color: #2AA7FF; 
    }
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 15px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);

}
.opt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar{
    background-color: black;
    color: whitesmoke;
}

