.offer-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.swiper-pagination {
  margin-top: 100px;
}

.swiper-pagination-bullet {
  background-color: #bbb;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: 
  #2AA7FF;
  color :"blue";
}
.offer{
  background-color: white;
  margin-top: 10px;
}
.doctor{
  background-color: white;
  justify-content: center;
  align-items: center;
  align-content: center;

}
  