.offer-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-items: center;
}
.swiper{
  padding-bottom:40px ;
}
.swiper-pagination-bullet {
  background-color: grey;
  width: 10px;
  height: 10px;
  margin-top: 200px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color:   #2AA7FF;
  color :"blue"; 
  margin-top: 100px;
}
.offer{
  background-color: white;
  margin-top: 10px;
}
.doctor{
  background-color: white;
  justify-content: center;
  align-items: center;
  align-content: center;

}
  .doctor-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
  }